.DS_Store
Build/
Library/
Temp/
*.csproj
*.pidb
*.sln
WebGLBuild/
WebPlayerBuild/
Assets/Scenes/Menu/LightingData.asset
Assets/Scenes/Menu/LightingData.asset.meta
Assets/Scenes/Menu/ReflectionProbe-0.exr
Assets/Scenes/Menu/ReflectionProbe-0.exr.meta
